* {
    background-color: #666666;
}

.estimate table { 
   width: 50%; 
   margin: auto;
   margin-top: 2%;
   font-size: 20px;
   border: 2px solid #e81313;
   padding: 2% 5% 2% 5%;
   border-radius: 25px;
}

.column {
    float:left;
    width: 33.33%;
    /*border: 1px solid #ff0000;*/
    text-align: center;
    /*border-radius: 25px;*/
    color: black;
}



.col {
    float:left;
    width: 33%;
    border: 1px solid #ff0000;
    padding-right: 0%;
    margin-right: 0%;
    /*margin: 1%;
    text-align: center;
    border-radius: 25px;
    color: black;*/
}
.row:after {
    content:"";
    display: table;
    clear: both; 
}

.column img {
    margin-top: 10%;
}

.heading{
    text-align: center;
}
 
.heading img {
    margin-top: 2%;
    height: 5%;
    width: 20%;
}